/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
h2 {
  font-size: 25px;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}


.cocktail-list a {
  font-size: 25px;
  font-weight: bold;
  color: #333333;
  opacity: 0.6;
  line-height: 1.5;
}

.cocktail-list a:hover {
  opacity: 1;
}

.cocktail-img {
  width: 100%;
}
