<div class="container">
  <div class="row">
     <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-body">
            <%= link_to cocktail_path(cocktail) do %>
              <div class="card-picture" style="background-image: url('<%= cl_image_path cocktail.photo %>')">
                <div class="card-hover">
                </div>
              </div>
            <% end %>
            <div class="card-name text-center">
              <h4><%= cocktail.name %></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
