<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to image_tag("cocktail.jpeg"), root_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <!-- Button (call-to-action) -->
    <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div>
