<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path do %>
     <%= cl_image_tag("rxgvq1rbsouweaf4kexl",
      width: 50, crop: :fill) %>
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <!-- Button (call-to-action) -->
    <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn btn-warning" %>
    <%= link_to "See cocktails", cocktails_path, class: "navbar-wagon-item navbar-wagon-button btn btn-warning" %>
  </div>
</div>
