<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
     <%= image_tag("http://images.google.fr/imgres?imgurl=http%3A%2F%2Fwww.iconarchive.com%2Fdownload%2Fi41420%2Fcedarseed%2Fcocktails%2FNegroni.ico&imgrefurl=http%3A%2F%2Fwww.iconarchive.com%2Ftag%2Fcocktail&h=256&w=256&tbnid=TwQyVAgZHq1q5M%3A&vet=1&docid=DXb2tyc51PQJDM&ei=48UtWKnFKsGQaLjihugN&tbm=isch&client=ubuntu&iact=rc&uact=3&dur=667&page=0&start=0&ndsp=20&ved=0ahUKEwjpwraGh7DQAhVBCBoKHTixAd0QMwgrKAUwBQ&bih=957&biw=915") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <!-- Button (call-to-action) -->
    <%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div>
