<%= render 'shared/banner' %>

<h1 class="text-center">See some of our cocktails</h1>

<%= render 'shared/cards' %>

<div class="container text-center bottom-margin">
  <%= link_to "Discover more cocktails", cocktails_path, class: "btn btn-primary btn-lg" %>
</div>
